{% extends 'base.html' %}

{% block content %}
    <a class="link-dark text-decoration-none float-end" href="/toggle-sorting">Sort ({% if system.listsortMTime %}last modified{% else %}a-z{% endif%})</a>
    <h2><b>{{ folder }}</b> All files</h2>
    <ul class="list-group list-group-flush h5 list-none">
        <li class="list-group-item list-none text-decoration-none"><i class="bi bi-folder pe-3"></i><i><a class="link-dark " href="../">..</a></i></li>
        {% for i in list %}
            <li class="list-group-item list-none">
                {% if i.folder != "" and i.folder != folder %}
                    <i class="bi bi-folder pe-3"></i><a class="link-dark fst-italic" href="/list/{{ i.folder }}/">{{ i.folder }}/ </a>
                {% else %}
                    <i class="bi bi-file-earmark-text pe-3"></i><a class="link-dark" href="/{{ i.url }}">{{ i.doc }}</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
